.homes {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
}

.home {
  background-color: #f9f7f6;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  justify-items: center;
  font-size: 1.5rem;
  margin-left: 2rem;
}

.home img {
  width: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 1;
  border-radius: 3.2rem;
  transition: all 0.2s;
}

.home img:hover {
  transform: scale(1.1);
}

.home .heading-5 {
  grid-row: 1 / 2;
  z-index: 20;
  align-self: end;
  grid-column: 1 / -1;
  width: 80%;
  justify-self: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  text-align: center;
  padding: 1.25rem;
  background-color: #101d2c;
  color: #fff;
  font-weight: 400;
  transform: translateY(50%);
}

.home .heart-png {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  justify-self: end;
  margin: 1rem;
  z-index: 2;
}

.home .home-location {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
}

.home .home-rooms {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.5rem;
}

.home .home-area {
  display: flex;
  gap: 0.5rem;
}

.home .home-price {
  display: flex;
  gap: 0.5rem;
}

.home svg {
  fill: #c69963;
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.home-button {
  grid-column: 1 / -1;
}
