.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: 0;
  margin-top: 4rem;

  background-color: #fff;
  height: 0.2rem;
  width: 4.5rem;
}

.nav-btn::before,
.nav-btn::after {
  background-color: #fff;
  height: 0.2rem;
  width: 4.5rem;
  content: "";
  display: block;
}

.nav-btn::before {
  transform: translateY(-1.5rem);
}

.nav-btn::after {
  transform: translateY(1.5rem);
}
