.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5 / full-end;
  padding: 6rem 8vw;

  display: grid;
  align-content: center;
  justify-items: start;
}

.story__content .heading-3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #c69963;
  text-transform: uppercase;
}

.story__content .heading-2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 4rem;
  font-style: italic;
  color: #3d352b;
  line-height: 1;
}

.story__content .h3-para {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.2rem;
}

.btn {
  background-color: #c69963;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background-color: #b28451;
}
